.longpone {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1280px /16);
    height: 90px;
    background: url(Sparkly\ Keys\ Looong-trot.png);
    animation: animate 450ms steps(16) infinite;
    text-align: left;
    margin: 2361px -4px;
}

@keyframes animate {
    from {
        background-position: 1280px;
    }
    to {
        background-position: 0;
    }
}