body {
    background: rgb(222,115,190);
    background: -moz-linear-gradient(180deg, rgba(222,115,190,1) 0%, rgba(121,26,158,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(222,115,190,1) 0%, rgba(121,26,158,1) 100%);
    background: linear-gradient(180deg, rgba(222,115,190,1) 0%, rgba(121,26,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de73be",endColorstr="#791a9e",GradientType=1);
    overflow: hidden;
    font-family: 'Kaushan Script', cursive;
    size: 21px;
    color: #48235b;
    scroll-behavior: smooth;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
    background: -webkit-linear-gradient(#650b81, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 28.75em) {
    .nav {
        display: flex;
        justify-content: center;
    }
    
    .nav-list {
        display: flex;
        margin: 0 1rem;
    }

    .nav-list a {
        display: flex;
        justify-content: center;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

/* .nav-list a:hover {
    background: rgb(222,115,190);
    background: -moz-radial-gradient(circle, rgba(222,115,190,1) 0%, rgba(121,26,158,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(222,115,190,1) 0%, rgba(121,26,158,1) 100%);
    background: radial-gradient(circle, rgba(222,115,190,1) 0%, rgba(121,26,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de73be",endColorstr="#791a9e",GradientType=1);
} */

#bio {
    /* color: #48235b; */
    background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    text-align: center;
}

#bio1 {
    /* color: #48235b; */
    background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    text-align: center;
}

#biomini {
    /* color: #48235b; */
    background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 19px;
    text-align: center;
}

/* .spk {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(800px /10 );
    height: 90px;
    background: url(Sparkly\ Keys\ -fly.png);
    animation: animate 450ms steps(10) infinite;
    text-align: center;
    margin: -19px 6px;
}

    @keyframes  animate {
    from {
       background-position: 0;
    }
    to {
       background-position: 800px;
    }
} */

.spk {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(800px /10 );
    height: 90px;
    background: url(SpK2020-fly.png);
    animation: animate 450ms steps(10) infinite;
    text-align: center;
    margin: 22px 6px;
}

@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 800px;
    }
}

/* .skh {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(800px /10 );
    height: 90px;
    background: url(Sky\ Heart-fly.png);
    animation: animate 450ms steps(10) infinite;
    text-align: center;
    margin: -19px -86px;
}

   @keyframes animate {
    from {
      background-position: 0;
    }
    to {
      background-position: 800px;
    }
} */

.skh {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(800px /10 );
    height: 90px;
    background: url(SkyHeart2020-fly.png);
    animation: animate 450ms steps(10) infinite;
    text-align: center;
    margin: 22px -86px;
}

@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: 800px;
    }
}

/* #briska {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(800px /10 );
    height: 90px;
    background: url(briska-fly.png);
    animation: animate 450ms steps(10) infinite;
    text-align: left;
    margin-top: -19px;
    margin-right: 95px;
    margin-bottom: -19px;
    margin-left: 95px;
}

    @keyframes  animate {
    from {
      background-position: 800px;
    }
    to {
      background-position: 0;
    }
} */

#briska {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(800px /10 );
    height: 90px;
    background: url(Briska2020-fly.png);
    animation: animate 450ms steps(10) infinite;
    text-align: left;
    margin-top: 22px;
    margin-right: 95px;
    margin-bottom: -19px;
    margin-left: 95px;
}

@keyframes animate {
    from {
        background-position: 800px;
    }
    to {
        background-position: 0;
    }
}

h1 {
    background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    text-align: center;
    margin-top: 5;
}

h2 {
    background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    text-align: center;
    margin: 0;
}

h3 {
    color: #48235b;
    /* background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    line-height: 1.4;
    text-align: center;
    margin: 0;
    height: 15px;
}

h4 {
    background: -webkit-linear-gradient(#650b81, rgb(38, 27, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
    text-align: center;
    
}
#liveSi {
    text-size-adjust: 15px;
    text-align: center;
    color: rgb(248, 155, 236);
}

.codepen {
    height: auto;
    width: 50%;
}

.codepen2 {
    height: auto;
    width: 50%;
}

#pic1 {
    size: 25px;
    border-radius: 5%;
    box-shadow: 7px 7px 14px 0px rgba(197, 129, 241, 0.76);
    /* position: center; */
    margin: 10px;
}


#pic2 {
    size: 25px;
    border-radius: 5%;
    box-shadow: 7px 7px 14px 0px rgba(197, 129, 241, 0.76);
    margin: 10px;
}


#pic3 {
    size: 25px;
    border-radius: 5%;
    box-shadow: 7px 7px 14px 0px rgba(197, 129, 241, 0.76);
    margin: 5px;
}


#pic4 {
    size: 25px;
    border-radius: 5%;
    box-shadow: 7px 7px 14px 0px rgba(197, 129, 241, 0.76);
    margin: 5px;
}


#pic5 {
    size: 25px;
    border-radius: 5%;
    box-shadow: 7px 7px 14px 0px rgba(197, 129, 241, 0.76);
    margin: 10px;
}


#pic6 {
    size: 25px;
    border-radius: 5%;
    box-shadow: 7px 7px 14px 0px rgba(197, 129, 241, 0.76);
    margin: 10px;
}

.container2,
.container4,
.container5,
.container6,
.container8,
.container12,
.container14,
.container15,
.container18,
.container20,
.container22,
.container24,
.container26,
.container28 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid1,
.grid2 {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

#contact {
    text-size-adjust: 15px;
    text-align: center;
    color: rgb(248, 155, 236);
}

#spiner:hover,
#spiner:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
#catt:hover,
#catt:focus {
    box-shadow: 0 0.05em 0.05em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
#gamePad:hover,
#gamePad:focus {
    box-shadow: 0 0.05em 0.05em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
#daTa:hover,
#daTa:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

#atw {
    color: rgb(1248, 155, 236);
}

.icons {
    color: #650b81, #e946c1;
}

.github {
    size: 100px;
}
#github:hover,
#github:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.linkdin {
    size: 100px;
}
#linkdin:hover,
#linkdin:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.twiter {
    size: 100px;
}
#twiter:hover,
#twiter:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.instagram {
    size: 100px;
}
#instagram:hover,
#instagram:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.tumblr {
    size: 100px;
}
#tumblr:hover,
#tumblr:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.tiktok {
    size: 100px;
}
#tiktok:hover,
#tiktok:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
    
.codpin {
    size: 100px;
}
#codpin:hover,
#codpin:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.resume {
    size: 100px;
}
#resume:hover,
#resume:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.facbk {
    size: 100px;
}
#facbk:hover,
#facbk:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.fcc {
    size: 100px;
}
#fcc:hover,
#fcc:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.deviant {
    size: 100px;
}
#deviant:hover,
#deviant:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.scratch {
    size: 100px;
}
#scratch:hover,
#scratch:focus {
    box-shadow: 0 0.5em 0.5em -0.04em var(--hover);
    transform: translateY(-0.25em);
}

.wattpad {
    size: 100px;
}
#wattpad:hover,
#wattpad:focus {
    box-shadow: 0 0.5em 0.5em -0.04em var(--hover);
    transform: translateY(-0.25em);
}

.paypal {
    size: 100px;
}
#paypal:hover,
#paypal:focus {
    box-shadow: 0 0.5em 0.5em -0.04em var(--hover);
    transform: translateY(-0.25em);
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }
    .projects {
        font-size: 4rem;
    }
    .icons {
        text-align: center;
        text-size-adjust: 25%;
    }
}

@media (max-width: 30.625em) {
    .projects {
        padding: 6rem 1rem;
    }
}

.fa {
    color: rgb(248, 155, 236);
}

.fab, .fas {
    color: rgb(248, 155, 236);
}

#more {
    text-size-adjust: 15px;
    text-align: center;
    color: rgb(248, 155, 236);
}

.spin,
.cat,
.game,
.data {
    background: (GradientType(#bc3be4, rgb(201, 30, 149)));
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(167, 93, 209);
    color: rgb(53, 14, 88);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: rgb(187, 114, 230);
    box-shadow: 0 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
